body {
  font-family: sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
}

header, footer {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
